@CHARSET "UTF-8";
header{
	float : center;
	background-color:#5badff;
	text-align:center;
	width : 100%;
	height: 70px;

	float:center;
	vertical-align : middle;
	
	margin:0px 0 ;
	padding : 30px 0 0px 0;
	color:white;
	font-size:25px;
	font-weight : bold;
}
nav{
	margin:0 20px 20px 0;
	padding : 0 0 10px 0;
	
	background-color: #0080ff;
	float:left;
	width : 100%;
	height: 50px;
	
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight : bold;
	text-align:center;	
}
nav ul{
	list-style : none;
}
nav ul li{
	list-style : none;
	float : left;
	margin : 0 5px;
}
nav a{
	display:block;
	padding:10px 150px 8px 20px;
	height:20px;
	text-decoration:none;
	color:white;
	border-style: hidden hidden solid hidden;
	border-color : transparent;
	
}
footer{
	clear: both;
	height : 20px;
	background-color : #808080;
	font-size : 14px;
	text-align : center;
	
	margin: 0px 0 0 0px;
	padding: 10px 0 20px 0;
	float: center;
	font-family: consolas;
	color: white;
}
footer #copyright{
	
}
h2{
	text-align : center;
	
}
section{
	background-color: #ffffff;
	height : 700px;
	width : 100%;
}
.section ul{
	list-style : none;
}

table,th,td{
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
}
.button{
	float : center;
}

